<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lorentzfactorcalculator">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="calculator"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LorentzFactorCalculator">
        <activity android:name=".MainActivity5"
            android:label="spi factor calculator"
            android:parentActivityName=".MainActivity"
            >

        </activity>
        <activity
            android:name=".MainActivity4"
            android:label="practice mode"
            android:parentActivityName=".MainActivity3"></activity>
        <activity
            android:name=".MainActivity3"
            android:label="lorentz factor calculator"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>